.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 180,.2)), url('./../../public/polinatankilevitch.jpg');
	height: 50vh;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	margin-top: 100px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.bannerbtn {
	border: 2px solid black;
	border-radius: 5px;
	font-size: 2rem;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
.bannerbtn:hover {
	background-color: rgba(255, 255, 255, .5);
}